.git
.github
.env
.env.*
.phpunit.result.cache
tests
vendor
node_modules
docker
Dockerfile
.dockerignore
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
backend/database/database.sqlite
